<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/final.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
    <script type="module" defer src="/js/final.js"></script>
  </head>
  <body>
    <%- include('logo.ejs') %>
    <main>
      <h2>Amazing! Here is your resume.</h2>

      <div class="btn-container">
        <button class="btn-download">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="download-icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"
            />
          </svg>
          Download
        </button>
      </div>

      <div class="resume">
        <h3 class="name"><%= data.fname %> <%= data.lname %></h3>
        <h3 class="header profession"><%= data.profession %></h3>
        <p><%= data.address %></p>
        <p><%= data.phone %></p>
        <p><%= data.email %></p>

        <% if (data.professionalSummary) { %>
        <h3 class="header summary-header">PROFESSIONAL SUMMARY</h3>
        <p class="professional-summary"><%= data.professionalSummary %></p>
        <% } %> <% if (data.skills) { %>
        <div class="skills">
          <h3 class="header skills-header">SKILLS</h3>
          <ul>
            <% for (let skill of data.skills) { %>
            <li><%= skill %></li>
            <% } %>
          </ul>
        </div>
        <% } %> <% if (data.experience) { %>
        <div class="experience">
          <h3 class="header experience-header">EXPERIENCE</h3>
          <% for (let job of data.experience) { %>
          <div class="job">
            <p class="title">
              <span class="bold"
                ><%= job.company %>, <%= job.city %>, <%= job.region %></span
              >
              - <%= job.jobTitle %>
            </p>
            <p class="date"><%= job.startDate %> - <%= job.endDate %></p>
            <p class="job-description"><%= job.jobDescription %></p>
          </div>
          <% } %>
        </div>
        <% } %> <% if (data.education) { %>
        <div class="education">
          <h3 class="header education-header">EDUCATION</h3>
          <p class="education-description"><%= data.education %></p>
        </div>
        <% } %> <% if (data.languages) { %>
        <h3 class="header">LANGUAGES</h3>
        <ul>
          <% for (let language of data.languages) { %>
          <li><%= language %></li>
          <% } %>
        </ul>
        <% } %>
      </div>
    </main>

    <footer>
      <div class="color-selector">
        <div class="color option-green">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="current-icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"
            />
          </svg>
        </div>
        <div class="color option-red"></div>
        <div class="color option-blue"></div>
        <div class="color option-orange"></div>
        <div class="color option-yellow"></div>
        <div class="color option-lime"></div>
      </div>
    </footer>
  </body>
</html>
